.container {
  border: 2px solid #000;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px 20px 5px;
  width: 400px;
}

button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
}

#search-bar {
  width: 79%;
}

#search-button {
  width: 9%;
  text-align: left;
  font-size: 17px;
}

#location-button {
  width: 9%;
  text-align: left;
  font-size: 17px;
}

#time {
  font-weight: 400;
  font-size: small;
}

h1 {
  font-size: 45px;
  margin: 0;
  text-align: center;
}

#current-temperature {
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  margin: 50px 0 20px 0;
}

#description {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.units {
  font-size: smaller;
  opacity: 80%;
}

.extra-info {
  text-align: right;
}

.extra-info-values {
  text-align: left;
}

.future {
  margin-top: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
}

.code-link {
  text-align: center;
  font-size: 12px;
}
